@import './base.css';

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  overflow: hidden;
  background-color: #212121;
}

* {
  user-select: none;
}
*:focus-visible {
  outline: 1px dashed gray;
}

.drag {
  -webkit-app-region: drag
}
.drag button,
.drag a {
  -webkit-app-region: no-drag;
}


.fade-enter {
  transform: translateX(100%);
}

.fade-enter-active {
  transform: translateX(0);
  transition: all 200ms ease-in;
}

.fade-exit {
  transform: translateX(0);
}

.fade-exit-active {
  transform: translateX(-100%);
  transition: all 200ms ease-in;
}

*:focus-visible {
  outline: 2px dotted #fff;
}

.licence body {
  font-family: 'Times New Roman';
  font-size: 12pt
}

.licence p {
  margin: 0pt
}

.licence li {
  margin-top: 0pt;
  margin-bottom: 0pt
}


.ofhide::-webkit-scrollbar {
  width: 0px;
}


.loginFrom {
  animation: loginFrom .3s forwards ease-in;
}
@keyframes loginFrom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loginTo {
  animation: loginTo .3s forwards ease-out;
}
@keyframes loginTo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.rotate3d-account {
  transform: rotate3d(1, 0, 0, 180deg);
}


.screen-root ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 6px;
}
.screen-root li{
  background-image: linear-gradient(90deg, #e3e3e3 25%, #f4f4f4 37%, #e3e3e3 63%);
  width: 100%;
  height: 1.3rem;
  list-style: none;
  background-size: 400% 100%;
  background-position: 100% 50%;
  border-radius: 2px;
  animation: skeleton-loading 1.4s ease infinite;
}

.screen-root-item{
  background-image: linear-gradient(90deg, #e3e3e350 25%, rgba(197, 197, 197, 0.31) 37%, #e3e3e350 63%);
  width: 100%;
  list-style: none;
  background-size: 400% 100%;
  background-position: 100% 50%;
  border-radius: 2px;
  animation: skeleton-loading 1.4s ease infinite;
}
.screen-root .end{
  width: 40%;
}
.screen-root .center{
  width: 60%;
}
@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
