/*@import './base.css';*/

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  overflow: hidden;
}

* {
  user-select: none;
}
*:focus-visible {
  outline: 1px dashed gray;
}

.drag {
  -webkit-app-region: drag
}
.drag button {
  -webkit-app-region: no-drag;
}

