.accountMenu {
  animation: accountMenu .14s ease-out forwards;
}

@keyframes accountMenu {
  0% {
    opacity: 0.2;
    transform: translate(-50%, 95%);
  }
  80% {
    opacity: 0.8;

  }
  100% {
    opacity: 1;
    transform: translate(-50%, 100%);
  }
}

.transMenu {
  animation: transMenu .14s ease-out forwards;
}

@keyframes transMenu {
  0% {
    opacity: 0.2;
    transform: translate(0%, 96%);
  }
  80% {
    opacity: 0.8;

  }
  100% {
    opacity: 1;
    transform: translate(0%, 100%);
  }
}
